node_modules
.next
out
dist
.env
contracts/.env
.env.local
.env.*.local
.vercel
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
contracts/node_modules
contracts/artifacts
contracts/cache
contracts/typechain-types
cache
artifacts
typechain-types
